#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #FFFFFF;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 120px;
  list-style: none;
  margin: 50px 0 0 50px;
  padding: 0;
  border-right: 1px solid black;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }
}

#showcase {
  margin: 20px 0 50px 0px;
}
.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

@media (min-width:767px) {
    #column{
        padding: 0 240px 0 240px;
    }
}

video{
  display: block;
  margin: 0 auto;
}

#column {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}
.image-container img{
  max-width: 100%;
}
.image-container{
  overflow: hidden;
  height: auto;
  width: 100%;
  padding: 15px 0 15px 0;
}

footer{
  margin: 40px 0 40px 0;
}
